.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #18181b !important;
  scrollbar-width:auto;
}


.accordion-button:focus{
  box-shadow: none !important;
  border-color: rgb(0 0 0 .125);
}

.accordion-button:not(.collapsed) {
  color:rgb(173, 181, 189) !important;
  background-color: #212529 !important;
  box-shadow: none !important;
}

/*Custom Scrollbar, Problema, non supportato da IE e Firefox*/
::-webkit-scrollbar {
  background-color: #212529;
  width: 16px;
  border-radius: 16px;
}

::-webkit-scrollbar-track {/*Questo è lo sfondo della scrollbar*/
  background-color: #212529;
  border-radius: 16px;
}

::-webkit-scrollbar-thumb {/*Questa è la scrollbar stessa*/
  background-color: #6c757d;
  border-radius: 16px;
  border: 4px solid #212529;
}

::-webkit-scrollbar-button {/*Per rimuovere i bottoni dalla barra*/
  display:none;
}